*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

/*HEADER SECTION START*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fff;
    color: #1b0b3f;
    width: 210px;
    position: fixed;
    border:1px solid black;
}

.header h1 {
    display: flex;
    font-size: 28px;
    z-index: 1;
}
/*HEADER SECTION END*/

/*  nav and UL elements start*/


.side-nav {
    font-size: 15px;
    line-height: 6.5;
    padding: 8px 8px 8px 32px;
    color: #818181;
    display: block;
    height: 100%;
    width: 210px;
    background-color: #fff;
    z-index: 1;
    position: fixed;
    margin-left: -16pt;
    margin-top: 20pt;
    border:1px solid black;
   }

.side-nav a {
    text-decoration: none;
    font-size: 20px;
    color: #5f5757;
    font-family: 'Times New Roman', Times, serif;
}


/* nav UL elements end*/

/*Hero Section start*/
.hero {
    height: 100vh;
    width: 100vw;
    margin-bottom: 0;
    background-image: url("./assets/images/IMG_0655.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    background-size: 100%;
    text-align: left;
}



/*Hero Section End*/

/*ABOUT ME START*/
#About-me {
    padding: 80px 195px 200px;
    background-color: white;
    margin: auto;
    text-decoration: none;
    display: block;
    background-image: url("../Module-2-challenge/assets/images/content\ background\ img.jpg");
    border: 2pt solid black;
}

#about-me-box {
    background-color: white;
    border:3px solid black;
    margin: 50px 50px 70px 50px;
}

#about-me-p1 {
    padding: 20px 200px ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 3rem;
    color: rgb(92, 89, 83);
}

#about-me-header {
    padding: 10px 0px 10px 500px;
    font-family:  'Times New Roman', Times, serif;
    font-size: 40px;
    box-sizing: content-box;
    background-color: teal;
    width: 100%;
    font-weight: 200;
    line-height: 2rem;
    color: tomato;
    font-style: oblique;
}
/*ABOUT ME END*/

/*Background Section Start*/
.Background {
    padding: 80px 195px 200px;
    background-color: white;
    margin: auto;
    background-image: url(../Module-2-challenge/assets/images/content\ background\ img\ 2.jpg);
    border: 2pt solid black;
}

#background-box {
    background-color: white;
    border:3px solid black;
    margin: 50px 50px 70px 50px;
}

#background-p1 {
    padding: 20px 200px ;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
line-height: 6rem;
color: rgb(92, 89, 83);
    }
    
#background-header {
   padding: 10px 0px 10px 500px;
    font-family:  'Times New Roman', Times, serif;
    font-size: 40px;
    box-sizing: content-box;
    background-color: teal;
    width: 100%;
    font-weight: 200;
    line-height: 2rem;
    color: tomato;
    font-style: oblique;
}

/*Background section end*/

/*Contact section start*/
.Contact {
    padding: 80px 195px 200px;
    background-color: white;
    margin: auto;
    background-image: url(../Module-2-challenge/assets/images/content\ background\ img\ 3.jpg);
    border: 2pt solid black;
}

#contact-box {
    background-color: white;
    border:3px solid black;
    margin: 50px 50px 70px 50px;
}
#contact-p1 {
   padding: 20px 200px ;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
line-height: 6rem;
color: rgb(92, 89, 83);
    }
    
#contact-header {
    padding: 10px 0px 10px 500px;
    font-family:  'Times New Roman', Times, serif;
    font-size: 40px;
    box-sizing: content-box;
    background-color: teal;
    width: 100%;
    font-weight: 200;
    line-height: 2rem;
    color: tomato;
    font-style: oblique;
}


.contact-form {
    border: 3px solid teal;
    background-color: rgba(141, 140, 133, 0.8);
    padding: 20px;
    color: #024e76;
    width: 40%;
    margin:  10px 40px 10px 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
    display: flex; 
    justify-content: left;
    
  }
  
  .contact-form button:hover {
    background-color: #b27a39;  
  }
  
  .contact-form p {
    margin: 25px 15px 15px 15px;
  }
/*Contact section end*/


/*Work section start*/
.Work {
    padding: 80px 195px 200px;
    background-color: white;
    margin: auto;
    background-image: url(../Module-2-challenge/assets/images/content\ background\ img\ 4.jpg);
    border: 2pt solid black;
}

#work-box {
    background-color: white;
    border:3px solid black;
    margin: 50px 50px 70px 50px;
}

#work-p1 {
    padding: 20px 20px ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 6rem;
    color: rgb(92, 89, 83);    
}

#work-p1 img {
    padding: 20px 20px ;
    border: 1pt solid black;
    max-width: 100%;
    max-height: 100%;
}
#work-p2 {
    padding: 20px 20px ; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 6rem;
    color: rgb(92, 89, 83);   
}

#work-p2 img {
    padding: 20px 20px;
    border: 1pt solid black;
    max-width: 100%;
    max-height: 100%;
}
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 96%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  .runbuddyclass {
    position: relative;
    width: 100%;
    max-width: 100%;
  }

  .runbuddyclass:hover .overlay {
    opacity: 1;
  }
    
.wd-class {
    position: relative;
    width: 100%;
    max-width: 100%;
}
  .wd-class:hover .overlay {
    opacity: 1;
  }

  .wds-class {
    position: relative;
    width: 100%;
    max-width: 100%;
}
  .wds-class:hover .overlay {
    opacity: 1;
  }

  
  .mm-class {
    position: relative;
    width: 100%;
    max-width: 100%;
}
  .mm-class:hover .overlay {
    opacity: 1;
  }

  .teksess-class {
    position: relative;
    width: 100%;
    max-width: 100%;
}
  .teksess-class:hover .overlay {
    opacity: 1;
  }




#work-header {
    padding: 10px 0px 10px 500px;
    font-family:  'Times New Roman', Times, serif;
    font-size: 40px;
    box-sizing: content-box;
    background-color: teal;
    width: 100%;
    font-weight: 200;
    line-height: 2rem;
    color: tomato;
    font-style: oblique;
}
/*Work Section end*/

/*Education section start*/
.Education {
    padding: 80px 195px 200px;
    margin: auto;
    background-image: url(../Module-2-challenge/assets/images/content\ background\ img\ 5.jpg);
    border: 2pt solid black;
}

#education-box {
    
    background-color: white;
    border:3px solid black;
    margin: 50px 50px 70px 50px;
}

#education-p1 {
    padding: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 6rem;
    color: rgb(92, 89, 83);
    text-align: center;
    }
    
    #education-header {
    padding: 10px 0px 10px 500px;
    font-family:  'Times New Roman', Times, serif;
    font-size: 40px;
    box-sizing: content-box;
    background-color: teal;
    width: 100%;
    font-weight: 200;
    line-height: 2rem;
    color: tomato;
    font-style: oblique;
}
/*Education section end*/

/*Footer section start*/
.footer {
    text-align: right;
}
/*Footer section end*/

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px){
    .innovationtext {
        color: #1b0b3f;
        text-align: right;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px){
    .innovationtext {
        color: #a18f25;
        text-align: right;
    }
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px){
    .innovationtext {
        color: #b61515;
        text-align: right;
    }
}