* {
  margin: 0 auto;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.barnav {
  background-color: salmon;
}

.home {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 160vh;
}

.footer {
  margin-top: 1rem;
  padding-top: 0.5rem;
  background-color: salmon;
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  font-size: x-large;
}

.projectCard {
  border: solid 1px lightgray;
  margin: 10px;
  height: 100%;
  
}

.download {
  text-decoration: none;
  color: salmon;
  font-size: medium;
  border-radius: 20px;
  align-items: center;
}

.description {
  font-size: x-small;
}

.cardText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.imgurl {
  text-decoration: none;
  color: black;
}

.aboutmecard {
  border: 1px solid black;
  width: 80%;
  margin-bottom: 4rem;
}

.card-footer {
  border-top: 1px solid black;
  background-color: antiquewhite;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card-body {
  display: flex;
}

.card-img {
  width: 100%;
  height: 60%;
}


.backgroundcard {
  border: 1px solid black;
  border-radius: 20px;
}

.backgroundContainer {
  /* border: solid 1px black; */
  height: 100%;
  /* background-color: red; */
}

.educationcard {
  border: 1px solid black;
  margin: 30px;
}

.links {
  text-decoration: none;
  color: white;
}

.checkboxCol {
  font-size: 10px;
}

.main-container {
  height: 6rem;
  justify-content: center;
  align-items: center;
}


.nav-link {
  color: lightgrey;
}

.active {
  color: white;
}

input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}

input[type='email'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}

textarea[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}

button[type='button'] {
  width: 100%;
  background-color: salmon;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.emailText {
  color: salmon;
  text-decoration: none;
}

.githubRepo {
  text-decoration: none;
  color: salmon;
}

#linkText {
  font-size: 2rem;
  color: salmon;
}

@media only screen and (min-device-width: 260px) and (max-device-width: 767px) {
  .projectCard {
    border: solid 1px black;
    margin: 10px;
    border-radius: 20px;
  }

  .description {
    padding-bottom: 0.5rem;
  }

  .main-container {
    padding: 0.5rem;
  }

  .main-container > a {
    color: white;
    font-size: x-large;
    text-decoration: none;
  }

  .navbar-nav > a {
    font-size: large;
    text-decoration: none;
    padding: 0 0.3rem;
  }

  .col {
    width: 90%;
  }

  .card-img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .checkboxCol {
    font-size: 1rem;
  }

  .home {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
  }

  .backgroundcard {
    border: 1px solid black;
    width: 90%;
    margin-bottom: 4rem;
  }

  .backgroundContainer {
    margin-bottom: 4rem;
  }

  .aboutmecard {
    border: 1px solid black;
    width: 90%;
    border-radius: 20px;
  }

  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .barnav {
    background-color: salmon;
    width: 100%;
  }

  .footer {
    background-color: salmon;
    position: fixed;
    flex-direction: column;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    font-size: x-large;
  }

  .footLinks {
    display: flex;
  }

  .links {
    padding: 0 1rem;
  }

  .footerLinkText {
    display: none;
  }

  .formClass {
    padding: 1rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1149px) {
  .main-container > a {
    color: white;
    font-size: x-large;
    text-decoration: none;
  }

  .navbar-nav > a {
    font-size: large;
    text-decoration: none;
    padding: 0 0.3rem;
  }

  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .col {
    width: 50%;
    height: 25rem;
    margin-bottom: 3rem;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .projectCard {
    border-radius: 20px;
  }

  .aboutmecard {
    border-radius: 20px;
  }

  .backgroundcard {
    border: 1px solid black;
    width: 90%;
    /* margin-bottom: 4rem; */
  }

  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }

  .about-card {
    display: flex;
    flex-direction: column;
    
  }

  .card-img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .cardText {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .about-img {
    width: 30%;
  }

  

  .footLinks {
    display: flex;
  }

  .links {
    padding: 0 1rem;
  }

  .footerLinkText {
    display: none;
  }
  .backgroundcard {
    width: 90%;
  }
}

@media only screen and (min-device-width: 1150px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .main-container > a {
    color: white;
    font-size: x-large;
    text-decoration: none;
  }
  
  .navbar-nav > a {
    font-size: large;
    text-decoration: none;
    padding: 0 0.3rem;
  }

  .col {
    width: 33%;
    height: 30rem;
    margin-bottom: 3rem;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .card-body {
    display: flex;
    justify-content: center;
  }

  .card-img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .projectCard {
    border-radius: 20px;
  }

  .about-img {
    width: 30%;
  }

  .about-card {
    display: flex;
  }

  .aboutmecard {
    border-radius: 20px;
  }

  .footLinks {
    display: flex;
  }

  .links {
    padding: 0 1rem;
  }

  .footerLinkText {
    display: none;
  }

  .backgroundcard {
    width: 80%;
  }
}
