.App {
  text-align: center;
}


.barnav {
  background-color: salmon;
}

.footer {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: salmon;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  font-size: x-large;
}

.img {
  height: 20%;
  width: 80%;
}

.projectCard {
  border: solid 10px black ;
  width: 35rem;
  height: 35rem;
  margin: 10px;
  
}

.download {
  text-decoration: none;
  color: salmon;
  font-size: medium;
  border-radius: 20px;
  align-items: center;
}

.description {
  font-size: x-small;
}

.imgurl {
  text-decoration: none;
  color: black;
}

.aboutmecard {
  border: 1rem solid black;
  margin: 30px;
  width: 80rem;
}

.backgroundcard {
  border: 1rem solid black;
  margin: 30px;
  width: 80rem;
  
}

.backgroundContainer{
  /* border: solid 1px black; */
height: 100%;
/* background-color: red; */
}

.educationcard {
  border: 1rem solid black;
  margin: 30px;
  width: 80rem;
}

.links {
  text-decoration: none;
  color: white;
}

.checkboxCol {
  font-size: 10px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}

textarea[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}

button[type=button] {
  width: 100%;
  background-color: salmon;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.emailText {
  color: salmon;
  text-decoration: none;
}

.githubRepo {
  text-decoration: none;
  color: salmon;
}

#linkText {
  font-size: 2rem;
  color: salmon;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .projectCard {
    border: solid 10px black ;
    width: 10rem;
    height: 35rem;
    margin: 10px;
    
  }

  .backgroundcard {
    border: 1rem solid black;
    margin: 30px;
    width: 10rem;
    
  }

  .aboutmecard {
    border: 1rem solid black;
    margin: 30px;
    width: 10rem;
  }

  .checkboxCol {
    font-size: 5px;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
    .projectCard {
    border: solid 10px black ;
    width: 30rem;
    height: 20rem;
    margin: 10px;
    
  }

  .backgroundcard {
    border: 1rem solid black;
    margin: 30px;
    width: 30rem;
    
  }

  .aboutmecard {
    border: 1rem solid black;
    margin: 30px;
    width: 30rem;
  }

  .checkboxCol {
    font-size: 2px;
  }
}